In [1]:
import numpy as np
import scipy.stats as ss
import pandas as pd

In [15]:
train_data = pd.read_pickle('../data/cleaned_train_data.pkl')
train_data

,mssubclass,mszoning,lotfrontage,lotarea,street,lotshape,landcontour,utilities,lotconfig,landslope,...,enclosedporch,3ssnporch,screenporch,poolarea,miscval,mosold,yrsold,saletype,salecondition,saleprice
id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,112,0,0,0,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [2]:
tup = np.random.randint(0, 100, 10)
tup

array([42, 72, 79, 99,  2, 31, 15, 86, 19, 79])

## Tuple

- create tuple

In [6]:
tuple_t = tuple(tup)
tuple_t

(42, 72, 79, 99, 2, 31, 15, 86, 19, 79)

- tuple concatenate

In [5]:
tuple_t + tuple_t

(42, 72, 79, 99, 2, 31, 15, 86, 19, 79, 42, 72, 79, 99, 2, 31, 15, 86, 19, 79)

In [8]:
tuple_t * 2

(42, 72, 79, 99, 2, 31, 15, 86, 19, 79, 42, 72, 79, 99, 2, 31, 15, 86, 19, 79)

- unpacking

In [11]:
x, y, z = (0, 1, 0)
x

0

In [12]:
# nested unpacking
x, y, (z, w) = 2, 5, (1, 0)
z

1

In [13]:
# value swap
x, y = y, x
x, y

(5, 2)

In [14]:
# iteration
data = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in data:
    print('a={0}, b{1}, c={2}'.format(a, b, c))

a=1, b2, c=3
a=4, b5, c=6
a=7, b8, c=9

In [20]:
for subclass, zone in train_data.loc[:5, :].iterrows():
    print(f'{subclass}, {zone}')

1, mssubclass           60
mszoning             RL
lotfrontage        65.0
lotarea            8450
street             Pave
                  ...
mosold                2
yrsold             2008
saletype             WD
salecondition    Normal
saleprice        208500
Name: 1, Length: 76, dtype: object
2, mssubclass           20
mszoning             RL
lotfrontage        80.0
lotarea            9600
street             Pave
                  ...
mosold                5
yrsold             2007
saletype             WD
salecondition    Normal
saleprice        181500
Name: 2, Length: 76, dtype: object
3, mssubclass           60
mszoning             RL
lotfrontage        68.0
lotarea           11250
street             Pave
                  ...
mosold                9
yrsold             2008
saletype             WD
salecondition    Normal
saleprice        223500
Name: 3, Length: 76, dtype: object
4, mssubclass            70
mszoning              RL
lotfrontage         60.0
lotarea             9550
street              Pave
                  ...
mosold                 2
yrsold              2006
saletype              WD
salecondition    Abnorml
saleprice         140000
Name: 4, Length: 76, dtype: object
5, mssubclass           60
mszoning             RL
lotfrontage        84.0
lotarea           14260
street             Pave
                  ...
mosold               12
yrsold             2008
saletype             WD
salecondition    Normal
saleprice        250000
Name: 5, Length: 76, dtype: object

In [22]:
# plunk
subclass, zone, *details = train_data.loc[1, :]
subclass, zone, details

(60,
 'RL',
 [65.0,
  8450,
  'Pave',
  'Reg',
  'Lvl',
  'AllPub',
  'Inside',
  'Gtl',
  'CollgCr',
  'Norm',
  'Norm',
  '1Fam',
  '2Story',
  7,
  5,
  2003,
  2003,
  'Gable',
  'CompShg',
  'VinylSd',
  'VinylSd',
  'BrkFace',
  196.0,
  'Gd',
  'TA',
  'PConc',
  'Gd',
  'TA',
  'No',
  'GLQ',
  706,
  'Unf',
  0,
  150,
  856,
  'GasA',
  'Ex',
  'Y',
  'SBrkr',
  856,
  854,
  0,
  1710,
  1,
  0,
  2,
  1,
  3,
  1,
  'Gd',
  8,
  'Typ',
  0,
  'None',
  'Attchd',
  2003.0,
  'RFn',
  2,
  548,
  'TA',
  'TA',
  'Y',
  0,
  61,
  0,
  0,
  0,
  0,
  0,
  2,
  2008,
  'WD',
  'Normal',
  208500])

- method

In [23]:
tuple_t.count(79)

2

## List

- create list

In [24]:
a_list = list(tup)
a_list

[42, 72, 79, 99, 2, 31, 15, 86, 19, 79]

In [25]:
a_list = [1, 32, 4, 6, 0, 4, 34, 34]
a_list

[1, 32, 4, 6, 0, 4, 34, 34]

- adding and removing elements

In [26]:
a_list.append([10.23, 33232, 2, 323, 32, 32, 3, 2, 3, 3, 3, 32, 2])

In [27]:
a_list.insert(0, [2214,454,484,15646,6546687,56465498761356])

In [28]:
a_list

[[2214, 454, 484, 15646, 6546687, 56465498761356],
 1,
 32,
 4,
 6,
 0,
 4,
 34,
 34,
 [10.23, 33232, 2, 323, 32, 32, 3, 2, 3, 3, 3, 32, 2]]

In [30]:
a_list.pop(2)

32

In [31]:
# concatenate
b_list = [88,874,8,8,5,4]
a_list + b_list

[[2214, 454, 484, 15646, 6546687, 56465498761356],
 1,
 4,
 6,
 0,
 4,
 34,
 34,
 [10.23, 33232, 2, 323, 32, 32, 3, 2, 3, 3, 3, 32, 2],
 88,
 874,
 8,
 8,
 5,
 4]