In [1]:
import numpy as np
import scipy.stats as ss
import pandas as pd

In [15]:
train_data = pd.read_pickle('../data/cleaned_train_data.pkl')
train_data

,mssubclass,mszoning,lotfrontage,lotarea,street,lotshape,landcontour,utilities,lotconfig,landslope,...,enclosedporch,3ssnporch,screenporch,poolarea,miscval,mosold,yrsold,saletype,salecondition,saleprice
id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,112,0,0,0,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [2]:
tup = np.random.randint(0, 100, 10)
tup

array([42, 72, 79, 99,  2, 31, 15, 86, 19, 79])

## Tuple

- create tuple

In [6]:
tuple_t = tuple(tup)
tuple_t

(42, 72, 79, 99, 2, 31, 15, 86, 19, 79)

- tuple concatenate

In [5]:
tuple_t + tuple_t

(42, 72, 79, 99, 2, 31, 15, 86, 19, 79, 42, 72, 79, 99, 2, 31, 15, 86, 19, 79)

In [8]:
tuple_t * 2

(42, 72, 79, 99, 2, 31, 15, 86, 19, 79, 42, 72, 79, 99, 2, 31, 15, 86, 19, 79)

- unpacking

In [11]:
x, y, z = (0, 1, 0)
x

0

In [12]:
# nested unpacking
x, y, (z, w) = 2, 5, (1, 0)
z

1

In [13]:
# value swap
x, y = y, x
x, y

(5, 2)

In [14]:
# iteration
data = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in data:
    print('a={0}, b{1}, c={2}'.format(a, b, c))

a=1, b2, c=3
a=4, b5, c=6
a=7, b8, c=9

In [20]:
for subclass, zone in train_data.loc[:5, :].iterrows():
    print(f'{subclass}, {zone}')

1, mssubclass           60
mszoning             RL
lotfrontage        65.0
lotarea            8450
street             Pave
                  ...
mosold                2
yrsold             2008
saletype             WD
salecondition    Normal
saleprice        208500
Name: 1, Length: 76, dtype: object
2, mssubclass           20
mszoning             RL
lotfrontage        80.0
lotarea            9600
street             Pave
                  ...
mosold                5
yrsold             2007
saletype             WD
salecondition    Normal
saleprice        181500
Name: 2, Length: 76, dtype: object
3, mssubclass           60
mszoning             RL
lotfrontage        68.0
lotarea           11250
street             Pave
                  ...
mosold                9
yrsold             2008
saletype             WD
salecondition    Normal
saleprice        223500
Name: 3, Length: 76, dtype: object
4, mssubclass            70
mszoning              RL
lotfrontage         60.0
lotarea             9550
street              Pave
                  ...
mosold                 2
yrsold              2006
saletype              WD
salecondition    Abnorml
saleprice         140000
Name: 4, Length: 76, dtype: object
5, mssubclass           60
mszoning             RL
lotfrontage        84.0
lotarea           14260
street             Pave
                  ...
mosold               12
yrsold             2008
saletype             WD
salecondition    Normal
saleprice        250000
Name: 5, Length: 76, dtype: object

In [22]:
# plunk
subclass, zone, *details = train_data.loc[1, :]
subclass, zone, details

(60,
 'RL',
 [65.0,
  8450,
  'Pave',
  'Reg',
  'Lvl',
  'AllPub',
  'Inside',
  'Gtl',
  'CollgCr',
  'Norm',
  'Norm',
  '1Fam',
  '2Story',
  7,
  5,
  2003,
  2003,
  'Gable',
  'CompShg',
  'VinylSd',
  'VinylSd',
  'BrkFace',
  196.0,
  'Gd',
  'TA',
  'PConc',
  'Gd',
  'TA',
  'No',
  'GLQ',
  706,
  'Unf',
  0,
  150,
  856,
  'GasA',
  'Ex',
  'Y',
  'SBrkr',
  856,
  854,
  0,
  1710,
  1,
  0,
  2,
  1,
  3,
  1,
  'Gd',
  8,
  'Typ',
  0,
  'None',
  'Attchd',
  2003.0,
  'RFn',
  2,
  548,
  'TA',
  'TA',
  'Y',
  0,
  61,
  0,
  0,
  0,
  0,
  0,
  2,
  2008,
  'WD',
  'Normal',
  208500])

- method

In [23]:
tuple_t.count(79)

2

## List

- create list

In [24]:
a_list = list(tup)
a_list

[42, 72, 79, 99, 2, 31, 15, 86, 19, 79]

In [25]:
a_list = [1, 32, 4, 6, 0, 4, 34, 34]
a_list

[1, 32, 4, 6, 0, 4, 34, 34]

- adding and removing elements

In [26]:
a_list.append([10.23, 33232, 2, 323, 32, 32, 3, 2, 3, 3, 3, 32, 2])

In [27]:
a_list.insert(0, [2214, 454, 484, 15646, 6546687, 56465498761356])

In [28]:
a_list

[[2214, 454, 484, 15646, 6546687, 56465498761356],
 1,
 32,
 4,
 6,
 0,
 4,
 34,
 34,
 [10.23, 33232, 2, 323, 32, 32, 3, 2, 3, 3, 3, 32, 2]]

In [30]:
a_list.pop(2)

32

- concatenate

**if need to create large list appending is too costly than extend**

In [32]:
b_list = [88, 874, 8, 8, 5, 4]
a_list + b_list

[[2214, 454, 484, 15646, 6546687, 56465498761356],
 1,
 4,
 6,
 0,
 4,
 34,
 34,
 [10.23, 33232, 2, 323, 32, 32, 3, 2, 3, 3, 3, 32, 2],
 88,
 874,
 8,
 8,
 5,
 4]

In [34]:
b_list.extend([tuple_t, 22524, 854, 788, 4877, 558, 744, 5])
b_list

[88,
 874,
 8,
 8,
 5,
 4,
 (42, 72, 79, 99, 2, 31, 15, 86, 19, 79),
 22524,
 854,
 788,
 4877,
 558,
 744,
 5]

- sort

In [35]:
test_sort = np.random.randint(10, 100, 26)
test_sort.sort()

In [36]:
test_sort

array([16, 17, 23, 27, 33, 33, 34, 35, 42, 48, 54, 54, 56, 59, 62, 63, 67,
       67, 72, 78, 80, 82, 83, 89, 95, 96])

- sort by using secondary sort key

In [37]:
test_str_sort = ['asdsa', 'asdetr', 'ee', 'tuyufdhhvf', 'd']
test_str_sort.sort(key=len)
test_str_sort

['d', 'ee', 'asdsa', 'asdetr', 'tuyufdhhvf']

- binary search and maintaining a sort list

**bisect didn't care about list is sorted or not**

In [40]:
import bisect

test_sort_bi = [54, 74, 565, 35, 8, 9988, 6685, 32363, 52, 6, 5, 2, 6, 54, 2]
test_sort_bi.sort()
bisect.bisect(test_sort_bi, 546)

11

In [41]:
bisect.insort(test_sort_bi, 546)
test_sort_bi

[2, 2, 5, 6, 6, 8, 35, 52, 54, 54, 74, 546, 565, 6685, 9988, 32363]

- slicing

**list[start:end:step] negative values use to start from end**

In [43]:
test_slice = train_data['lotarea'].to_list()

In [44]:
test_slice[4:10]

[14260, 14115, 10084, 10382, 6120, 7420]

In [45]:
test_slice[4:8] = [46546, 44, 744, 6954, 78987]
test_slice[4:8]

[46546, 44, 744, 6954]

In [47]:
test_slice[1450]

1533

In [48]:
test_slice[1450:]

[1533, 9000, 9262, 3675, 17217, 7500, 7917, 13175, 9042, 9717, 9937]

In [49]:
test_slice[:10]

[8450, 9600, 11250, 9550, 46546, 44, 744, 6954, 78987, 6120]

In [50]:
test_slice[-6:]

[7500, 7917, 13175, 9042, 9717, 9937]

In [51]:
test_slice[-10:-1]

[9000, 9262, 3675, 17217, 7500, 7917, 13175, 9042, 9717]

In [53]:
test_slice[1450:-4]

[1533, 9000, 9262, 3675, 17217, 7500, 7917]

In [54]:
test_slice[100::100]

[9320,
 9591,
 14000,
 8125,
 7535,
 1950,
 4282,
 7200,
 6993,
 6762,
 11880,
 11235,
 7500,
 6171]

In [55]:
test_rev = list('HEWARATHNA')
test_rev[::-1]

['A', 'N', 'H', 'T', 'A', 'R', 'A', 'W', 'E', 'H']

- built-in sequence functions

***to keep track index with values***

In [56]:
for tupe in enumerate(a_list):
    print(tupe)

(0, [2214, 454, 484, 15646, 6546687, 56465498761356])
(1, 1)
(2, 4)
(3, 6)
(4, 0)
(5, 4)
(6, 34)
(7, 34)
(8, [10.23, 33232, 2, 323, 32, 32, 3, 2, 3, 3, 3, 32, 2])

In [57]:
mapping = {}

for key, value in enumerate(test_rev):
    mapping[value] = key

mapping

{'H': 7, 'E': 1, 'W': 2, 'A': 9, 'R': 4, 'T': 6, 'N': 8}

***return a new sorted sequence***

In [58]:
sorted(test_rev)

['A', 'A', 'A', 'E', 'H', 'H', 'N', 'R', 'T', 'W']

In [59]:
sorted(test_slice[12:24])

[6120,
 7449,
 7560,
 9742,
 10652,
 10791,
 10920,
 11241,
 11924,
 12968,
 13695,
 14215]

***pairs up number of sequence to cerate new tuples

In [61]:
list(zip(train_data.loc[:4, 'mssubclass'], train_data.loc[:4, 'lotfrontage']))

[(60, 65.0), (20, 80.0), (60, 68.0), (70, 60.0)]

In [65]:
for key, value in enumerate(zip(train_data.loc[:4, 'mssubclass'], train_data.loc[:4, 'lotfrontage'])):
    print(f'{key}:{value[0]} -> {value[1]}')

0:60 -> 65.0
1:20 -> 80.0
2:60 -> 68.0
3:70 -> 60.0

In [66]:
house_dtl = list(zip(train_data.loc[:5, 'mssubclass'], train_data.loc[:5, 'housestyle']))
house_dtl

[(60, '2Story'),
 (20, '1Story'),
 (60, '2Story'),
 (70, '2Story'),
 (60, '2Story')]

In [67]:
ms_sub_class, house_style = zip(*house_dtl)
ms_sub_class, house_style

((60, 20, 60, 70, 60), ('2Story', '1Story', '2Story', '2Story', '2Story'))

***to generate reverse order sequence***

In [68]:
list(reversed(test_rev))

['A', 'N', 'H', 'T', 'A', 'R', 'A', 'W', 'E', 'H']