In [1]:
import numpy as np
import pandas as pd

# read CSV

In [2]:
pd.read_csv('./data/p1_test.csv')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,NaN,20000,20000,20000.0,60 months,482.02,C,C5,Director Of Finance and Operations,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,7800,7800,7800.0,36 months,240.81,A,A2,Teacher,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,5000,5000,5000.0,36 months,178.24,D,D3,truck driver,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,22800,22800,22800.0,36 months,812.77,D,D3,yard supervisor,...,NaN,NaN,Cash,Y,Jan-2018,COMPLETE,Oct-2017,3628.00,45.0,1.0
4,4,NaN,25000,25000,24950.0,60 months,585.61,C,C1,Associate Professor,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226062,226062,NaN,16000,16000,16000.0,60 months,361.52,B,B5,Anderson Honda,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
226063,226063,NaN,12000,12000,12000.0,60 months,307.93,D,D5,Correction officer,...,NaN,NaN,Cash,Y,Aug-2018,ACTIVE,Jul-2018,5463.55,45.0,14.0
226064,226064,NaN,24000,24000,24000.0,60 months,566.56,C,C5,Processor,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
226065,226065,NaN,25000,25000,25000.0,36 months,818.35,B,B3,Director,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
226066,226066,NaN,10000,10000,10000.0,36 months,329.67,B,B5,Head Custodian,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
pd.read_table('./data/p1_test.csv',sep=',')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,NaN,20000,20000,20000.0,60 months,482.02,C,C5,Director Of Finance and Operations,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,7800,7800,7800.0,36 months,240.81,A,A2,Teacher,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,5000,5000,5000.0,36 months,178.24,D,D3,truck driver,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,22800,22800,22800.0,36 months,812.77,D,D3,yard supervisor,...,NaN,NaN,Cash,Y,Jan-2018,COMPLETE,Oct-2017,3628.00,45.0,1.0
4,4,NaN,25000,25000,24950.0,60 months,585.61,C,C1,Associate Professor,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226062,226062,NaN,16000,16000,16000.0,60 months,361.52,B,B5,Anderson Honda,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
226063,226063,NaN,12000,12000,12000.0,60 months,307.93,D,D5,Correction officer,...,NaN,NaN,Cash,Y,Aug-2018,ACTIVE,Jul-2018,5463.55,45.0,14.0
226064,226064,NaN,24000,24000,24000.0,60 months,566.56,C,C5,Processor,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
226065,226065,NaN,25000,25000,25000.0,36 months,818.35,B,B3,Director,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
226066,226066,NaN,10000,10000,10000.0,36 months,329.67,B,B5,Head Custodian,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
pd.read_csv('./data/p1_test.csv',index_col='id')

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,grade,sub_grade,emp_title,emp_length,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
id,,,,,,,,,,,,,,,,,,,,,
0,NaN,20000,20000,20000.0,60 months,482.02,C,C5,Director Of Finance and Operations,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,7800,7800,7800.0,36 months,240.81,A,A2,Teacher,9 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,5000,5000,5000.0,36 months,178.24,D,D3,truck driver,< 1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,22800,22800,22800.0,36 months,812.77,D,D3,yard supervisor,8 years,...,NaN,NaN,Cash,Y,Jan-2018,COMPLETE,Oct-2017,3628.00,45.0,1.0
4,NaN,25000,25000,24950.0,60 months,585.61,C,C1,Associate Professor,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226062,NaN,16000,16000,16000.0,60 months,361.52,B,B5,Anderson Honda,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
226063,NaN,12000,12000,12000.0,60 months,307.93,D,D5,Correction officer,10+ years,...,NaN,NaN,Cash,Y,Aug-2018,ACTIVE,Jul-2018,5463.55,45.0,14.0
226064,NaN,24000,24000,24000.0,60 months,566.56,C,C5,Processor,9 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
226065,NaN,25000,25000,25000.0,36 months,818.35,B,B3,Director,7 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
226066,NaN,10000,10000,10000.0,36 months,329.67,B,B5,Head Custodian,5 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
pd.read_csv('./data/p1_test.csv',index_col=['id','member_id'])

,,loan_amnt,funded_amnt,funded_amnt_inv,term,installment,grade,sub_grade,emp_title,emp_length,home_ownership,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
id,member_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,20000,20000,20000.0,60 months,482.02,C,C5,Director Of Finance and Operations,10+ years,MORTGAGE,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,7800,7800,7800.0,36 months,240.81,A,A2,Teacher,9 years,RENT,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,5000,5000,5000.0,36 months,178.24,D,D3,truck driver,< 1 year,RENT,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,22800,22800,22800.0,36 months,812.77,D,D3,yard supervisor,8 years,RENT,...,NaN,NaN,Cash,Y,Jan-2018,COMPLETE,Oct-2017,3628.00,45.0,1.0
4,NaN,25000,25000,24950.0,60 months,585.61,C,C1,Associate Professor,10+ years,MORTGAGE,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226062,NaN,16000,16000,16000.0,60 months,361.52,B,B5,Anderson Honda,2 years,RENT,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
226063,NaN,12000,12000,12000.0,60 months,307.93,D,D5,Correction officer,10+ years,MORTGAGE,...,NaN,NaN,Cash,Y,Aug-2018,ACTIVE,Jul-2018,5463.55,45.0,14.0
226064,NaN,24000,24000,24000.0,60 months,566.56,C,C5,Processor,9 years,MORTGAGE,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
226065,NaN,25000,25000,25000.0,36 months,818.35,B,B3,Director,7 years,MORTGAGE,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
226066,NaN,10000,10000,10000.0,36 months,329.67,B,B5,Head Custodian,5 years,MORTGAGE,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# reading large files
pd.options.display.max_rows = 10
pd.options.display.max_columns = 5
pd.read_csv('./data/p1_test.csv',index_col='id')

        member_id  loan_amnt  ...  settlement_percentage  settlement_term
id                            ...
0             NaN      20000  ...                    NaN              NaN
1             NaN       7800  ...                    NaN              NaN
2             NaN       5000  ...                    NaN              NaN
3             NaN      22800  ...                   45.0              1.0
4             NaN      25000  ...                    NaN              NaN
...           ...        ...  ...                    ...              ...
226062        NaN      16000  ...                    NaN              NaN
226063        NaN      12000  ...                   45.0             14.0
226064        NaN      24000  ...                    NaN              NaN
226065        NaN      25000  ...                    NaN              NaN
226066        NaN      10000  ...                    NaN              NaN

[226067 rows x 143 columns]

In [8]:
pd.read_csv('./data/p1_test.csv',nrows=5)

   id  member_id  ...  settlement_percentage  settlement_term
0   0        NaN  ...                    NaN              NaN
1   1        NaN  ...                    NaN              NaN
2   2        NaN  ...                    NaN              NaN
3   3        NaN  ...                   45.0              1.0
4   4        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [12]:
chunker = pd.read_csv('./data/p1_test.csv',chunksize=1000)
chunker

In [15]:
chunk_content_size = pd.Series()

for i in chunker:
    chunk_content_size = chunk_content_size.add(i['grade'].value_counts(),fill_value=0)

chunk_content_size

c:\users\ashen\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

# read JSON

In [17]:
pd.read_json('../../../../data visualition/sample datasets/data.json')

,conformsTo,describedBy,@context,@type,dataset
0,https://project-open-data.cio.gov/v1.1/schema,https://project-open-data.cio.gov/v1.1/schema/...,https://project-open-data.cio.gov/v1.1/schema/...,dcat:Catalog,"{'@type': 'dcat:Dataset', 'title': 'Temperatur..."
1,https://project-open-data.cio.gov/v1.1/schema,https://project-open-data.cio.gov/v1.1/schema/...,https://project-open-data.cio.gov/v1.1/schema/...,dcat:Catalog,"{'@type': 'dcat:Dataset', 'title': 'Temperatur..."
2,https://project-open-data.cio.gov/v1.1/schema,https://project-open-data.cio.gov/v1.1/schema/...,https://project-open-data.cio.gov/v1.1/schema/...,dcat:Catalog,"{'@type': 'dcat:Dataset', 'title': 'Meteorolog..."
3,https://project-open-data.cio.gov/v1.1/schema,https://project-open-data.cio.gov/v1.1/schema/...,https://project-open-data.cio.gov/v1.1/schema/...,dcat:Catalog,"{'@type': 'dcat:Dataset', 'title': 'Temperatur..."
4,https://project-open-data.cio.gov/v1.1/schema,https://project-open-data.cio.gov/v1.1/schema/...,https://project-open-data.cio.gov/v1.1/schema/...,dcat:Catalog,"{'@type': 'dcat:Dataset', 'title': 'Underway b..."
...,...,...,...,...,...
39083,https://project-open-data.cio.gov/v1.1/schema,https://project-open-data.cio.gov/v1.1/schema/...,https://project-open-data.cio.gov/v1.1/schema/...,dcat:Catalog,"{'@type': 'dcat:Dataset', 'theme': ['Factory o..."
39084,https://project-open-data.cio.gov/v1.1/schema,https://project-open-data.cio.gov/v1.1/schema/...,https://project-open-data.cio.gov/v1.1/schema/...,dcat:Catalog,"{'@type': 'dcat:Dataset', 'theme': ['Manufactu..."
39085,https://project-open-data.cio.gov/v1.1/schema,https://project-open-data.cio.gov/v1.1/schema/...,https://project-open-data.cio.gov/v1.1/schema/...,dcat:Catalog,"{'@type': 'dcat:Dataset', 'theme': ['Factory o..."
39086,https://project-open-data.cio.gov/v1.1/schema,https://project-open-data.cio.gov/v1.1/schema/...,https://project-open-data.cio.gov/v1.1/schema/...,dcat:Catalog,"{'@type': 'dcat:Dataset', 'theme': ['Modeling ..."
39087,https://project-open-data.cio.gov/v1.1/schema,https://project-open-data.cio.gov/v1.1/schema/...,https://project-open-data.cio.gov/v1.1/schema/...,dcat:Catalog,"{'@type': 'dcat:Dataset', 'theme': ['Biometric..."

# read HTML and XML

In [18]:
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_2020_albums')
len(tables)

15

In [33]:
table_13 = tables[13].drop([0,1],axis=0)
table_13

             0                    1  ...                 4       5
2    December1                  BoA  ...                SM  [1034]
3    December1     Drakeo the Ruler  ...               NaN  [1035]
4    December3                 Tini  ...         Hollywood  [1036]
5    December4  Death Cab for Cutie  ...               NaN  [1037]
6    December4           Geographer  ...               NaN  [1038]
..         ...                  ...  ...               ...     ...
40  December18       Paul McCartney  ...           Capitol  [1072]
41  December23            Navy Blue  ...    Freedom Sounds  [1073]
42  December24           Elva Hsiao  ...     TakeOne Music  [1074]
43  December24                 Moby  ...       Mobyambient  [1075]
44  December25        Playboi Carti  ...  AWGE, Interscope  [1076]

[43 rows x 6 columns]