# import

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('../../../../Data Sets/world agriculture/fao_data_land_data.csv')
data

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,Afghanistan,11,Area,2007.0,1000 Ha,38661.0,Q,agricultural_area
1,Afghanistan,11,Area,2006.0,1000 Ha,38659.0,Fm,agricultural_area
2,Afghanistan,11,Area,2005.0,1000 Ha,38515.0,Fm,agricultural_area
3,Afghanistan,11,Area,2004.0,1000 Ha,38064.0,Fm,agricultural_area
4,Afghanistan,11,Area,2003.0,1000 Ha,38899.0,Fm,agricultural_area
...,...,...,...,...,...,...,...,...
104779,A,"May include official, semi-official or estimat...",NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation
104780,F,FAO Estimate,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation
104781,Q,Official data reported on FAO Questionnaires f...,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation
104782,Fm,Manual Estimation,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation
104783,I,Country data reported by International Organiz...,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation

In [3]:
obj = pd.Series(data['year'])
obj

0         2007.0
1         2006.0
2         2005.0
3         2004.0
4         2003.0
           ...
104779       NaN
104780       NaN
104781       NaN
104782       NaN
104783       NaN
Name: year, Length: 104784, dtype: float64

In [4]:
obj.values, obj.index

(array([2007., 2006., 2005., ...,   nan,   nan,   nan]),
 RangeIndex(start=0, stop=104784, step=1))

# filtering and indices of series

In [5]:
obj[11]

1996.0

In [6]:
obj[11] = 1997
obj[11]

1997.0

In [7]:
obj[[11,111,1111]]

11      1997.0
111     1990.0
1111    1978.0
Name: year, dtype: float64

In [8]:
obj[obj>1995]

0         2007.0
1         2006.0
2         2005.0
3         2004.0
4         2003.0
           ...
104736    2000.0
104737    1999.0
104738    1998.0
104739    1997.0
104740    1996.0
Name: year, Length: 34115, dtype: float64

In [9]:
np.log(obj)[1:5]

1    7.603898
2    7.603399
3    7.602900
4    7.602401
Name: year, dtype: float64

# check for missing values

In [10]:
obj.isna()

0         False
1         False
2         False
3         False
4         False
          ...
104779     True
104780     True
104781     True
104782     True
104783     True
Name: year, Length: 104784, dtype: bool

In [11]:
obj.isnull()

0         False
1         False
2         False
3         False
4         False
          ...
104779     True
104780     True
104781     True
104782     True
104783     True
Name: year, Length: 104784, dtype: bool

# dataframe

In [12]:
data.columns, data.index

(Index(['country_or_area', 'element_code', 'element', 'year', 'unit', 'value',
        'value_footnotes', 'category'],
       dtype='object'),
 RangeIndex(start=0, stop=104784, step=1))

In [13]:
type(data['value']), type(data[['value']])

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [14]:
type(data.value)

pandas.core.series.Series

In [15]:
data.head()

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,Afghanistan,11,Area,2007.0,1000 Ha,38661.0,Q,agricultural_area
1,Afghanistan,11,Area,2006.0,1000 Ha,38659.0,Fm,agricultural_area
2,Afghanistan,11,Area,2005.0,1000 Ha,38515.0,Fm,agricultural_area
3,Afghanistan,11,Area,2004.0,1000 Ha,38064.0,Fm,agricultural_area
4,Afghanistan,11,Area,2003.0,1000 Ha,38899.0,Fm,agricultural_area

In [16]:
data.tail()

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
104779,A,"May include official, semi-official or estimat...",NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation
104780,F,FAO Estimate,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation
104781,Q,Official data reported on FAO Questionnaires f...,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation
104782,Fm,Manual Estimation,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation
104783,I,Country data reported by International Organiz...,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation

In [17]:
data.iloc[1]

country_or_area          Afghanistan
element_code                      11
element                         Area
year                          2006.0
unit                         1000 Ha
value                        38659.0
value_footnotes                   Fm
category           agricultural_area
Name: 1, dtype: object

In [18]:
# remove
dummy_col = pd.DataFrame(np.ones(data.shape[0]),columns=['dummy'])
data_c = data.join(dummy_col)
data_c

,country_or_area,element_code,element,year,unit,value,value_footnotes,category,dummy
0,Afghanistan,11,Area,2007.0,1000 Ha,38661.0,Q,agricultural_area,1.0
1,Afghanistan,11,Area,2006.0,1000 Ha,38659.0,Fm,agricultural_area,1.0
2,Afghanistan,11,Area,2005.0,1000 Ha,38515.0,Fm,agricultural_area,1.0
3,Afghanistan,11,Area,2004.0,1000 Ha,38064.0,Fm,agricultural_area,1.0
4,Afghanistan,11,Area,2003.0,1000 Ha,38899.0,Fm,agricultural_area,1.0
...,...,...,...,...,...,...,...,...,...
104779,A,"May include official, semi-official or estimat...",NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation,1.0
104780,F,FAO Estimate,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation,1.0
104781,Q,Official data reported on FAO Questionnaires f...,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation,1.0
104782,Fm,Manual Estimation,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation,1.0
104783,I,Country data reported by International Organiz...,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation,1.0

In [19]:
del data_c['dummy']
data.shape

(104784, 8)

In [20]:
# reindexing
data_c = data[data['year'] == 2001]
data_c[:10]

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
6,Afghanistan,11,Area,2001.0,1000 Ha,37564.0,Fm,agricultural_area
53,Africa +,11,Area,2001.0,1000 Ha,1130835.0,A,agricultural_area
100,Albania,11,Area,2001.0,1000 Ha,1139.0,Q,agricultural_area
147,Algeria,11,Area,2001.0,1000 Ha,40109.0,Q,agricultural_area
194,American Samoa,11,Area,2001.0,1000 Ha,5.0,F,agricultural_area
241,Americas +,11,Area,2001.0,1000 Ha,1195889.0,A,agricultural_area
288,Andorra,11,Area,2001.0,1000 Ha,26.0,F,agricultural_area
335,Angola,11,Area,2001.0,1000 Ha,57300.0,F,agricultural_area
382,Antigua and Barbuda,11,Area,2001.0,1000 Ha,13.0,Fm,agricultural_area
429,Argentina,11,Area,2001.0,1000 Ha,128860.0,Fm,agricultural_area

In [21]:
data_c[:10].reindex(range(10),method='ffill')

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,11,Area,2001.0,1000 Ha,37564.0,Fm,agricultural_area
7,Afghanistan,11,Area,2001.0,1000 Ha,37564.0,Fm,agricultural_area
8,Afghanistan,11,Area,2001.0,1000 Ha,37564.0,Fm,agricultural_area
9,Afghanistan,11,Area,2001.0,1000 Ha,37564.0,Fm,agricultural_area

In [25]:
data_c[:10].drop(429)

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
6,Afghanistan,11,Area,2001.0,1000 Ha,37564.0,Fm,agricultural_area
53,Africa +,11,Area,2001.0,1000 Ha,1130835.0,A,agricultural_area
100,Albania,11,Area,2001.0,1000 Ha,1139.0,Q,agricultural_area
147,Algeria,11,Area,2001.0,1000 Ha,40109.0,Q,agricultural_area
194,American Samoa,11,Area,2001.0,1000 Ha,5.0,F,agricultural_area
241,Americas +,11,Area,2001.0,1000 Ha,1195889.0,A,agricultural_area
288,Andorra,11,Area,2001.0,1000 Ha,26.0,F,agricultural_area
335,Angola,11,Area,2001.0,1000 Ha,57300.0,F,agricultural_area
382,Antigua and Barbuda,11,Area,2001.0,1000 Ha,13.0,Fm,agricultural_area

In [27]:
data_c[:10].drop([335,382,429])

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
6,Afghanistan,11,Area,2001.0,1000 Ha,37564.0,Fm,agricultural_area
53,Africa +,11,Area,2001.0,1000 Ha,1130835.0,A,agricultural_area
100,Albania,11,Area,2001.0,1000 Ha,1139.0,Q,agricultural_area
147,Algeria,11,Area,2001.0,1000 Ha,40109.0,Q,agricultural_area
194,American Samoa,11,Area,2001.0,1000 Ha,5.0,F,agricultural_area
241,Americas +,11,Area,2001.0,1000 Ha,1195889.0,A,agricultural_area
288,Andorra,11,Area,2001.0,1000 Ha,26.0,F,agricultural_area

In [30]:
data_c.drop('unit',axis=1,inplace=True)

c:\users\ashen\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4312: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [32]:
data[1:4]

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
1,Afghanistan,11,Area,2006.0,1000 Ha,38659.0,Fm,agricultural_area
2,Afghanistan,11,Area,2005.0,1000 Ha,38515.0,Fm,agricultural_area
3,Afghanistan,11,Area,2004.0,1000 Ha,38064.0,Fm,agricultural_area

In [33]:
data[['element','unit','value']]

       element     unit    value
0         Area  1000 Ha  38661.0
1         Area  1000 Ha  38659.0
2         Area  1000 Ha  38515.0
3         Area  1000 Ha  38064.0
4         Area  1000 Ha  38899.0
...        ...      ...      ...
104779     NaN      NaN      NaN
104780     NaN      NaN      NaN
104781     NaN      NaN      NaN
104782     NaN      NaN      NaN
104783     NaN      NaN      NaN

[104784 rows x 3 columns]

In [36]:
data[['value']][:5]

     value
0  38661.0
1  38659.0
2  38515.0
3  38064.0
4  38899.0

In [41]:
data.loc[1,['country_or_area','category']]

country_or_area          Afghanistan
category           agricultural_area
Name: 1, dtype: object

In [42]:
data.iloc[1]

country_or_area          Afghanistan
element_code                      11
element                         Area
year                          2006.0
unit                         1000 Ha
value                        38659.0
value_footnotes                   Fm
category           agricultural_area
Name: 1, dtype: object

In [45]:
data.loc[[0,5,10],['country_or_area','category']]

   country_or_area           category
0      Afghanistan  agricultural_area
5      Afghanistan  agricultural_area
10     Afghanistan  agricultural_area

In [46]:
data.loc[:10,'country_or_area']

0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
5     Afghanistan
6     Afghanistan
7     Afghanistan
8     Afghanistan
9     Afghanistan
10    Afghanistan
Name: country_or_area, dtype: object

In [47]:
data.loc[:100,'value'][data.year==2000]

7       37838.0
54    1126222.0
Name: value, dtype: float64

In [50]:
data.iloc[np.where(data.year>2000)]

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,Afghanistan,11,Area,2007.0,1000 Ha,38661.0,Q,agricultural_area
1,Afghanistan,11,Area,2006.0,1000 Ha,38659.0,Fm,agricultural_area
2,Afghanistan,11,Area,2005.0,1000 Ha,38515.0,Fm,agricultural_area
3,Afghanistan,11,Area,2004.0,1000 Ha,38064.0,Fm,agricultural_area
4,Afghanistan,11,Area,2003.0,1000 Ha,38899.0,Fm,agricultural_area
...,...,...,...,...,...,...,...,...
104731,Zimbabwe,11,Area,2005.0,1000 Ha,174.0,Fm,total_area_equipped_for_irrigation
104732,Zimbabwe,11,Area,2004.0,1000 Ha,174.0,Fm,total_area_equipped_for_irrigation
104733,Zimbabwe,11,Area,2003.0,1000 Ha,174.0,F,total_area_equipped_for_irrigation
104734,Zimbabwe,11,Area,2002.0,1000 Ha,174.0,F,total_area_equipped_for_irrigation
104735,Zimbabwe,11,Area,2001.0,1000 Ha,174.0,F,total_area_equipped_for_irrigation

In [52]:
data[:5] + data_c[:5]

,category,country_or_area,element,element_code,unit,value,value_footnotes,year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df1 = data[['value']].loc[:5]
df2 = data_c[['value']].loc[:5]
df1.add(df2,fill_value=0)

     value
0  38661.0
1  38659.0
2  38515.0
3  38064.0
4  38899.0
5  37514.0

In [58]:
df2 = data_c['value']
df1 + df2

,value,6,53,100,147,194,241,288,335,382,...,104312,104328,104375,104422,104469,104516,104563,104610,104688,104735
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN