# import

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../../../../Data Sets/world agriculture/fao_data_land_data.csv')
data

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,Afghanistan,11,Area,2007.0,1000 Ha,38661.0,Q,agricultural_area
1,Afghanistan,11,Area,2006.0,1000 Ha,38659.0,Fm,agricultural_area
2,Afghanistan,11,Area,2005.0,1000 Ha,38515.0,Fm,agricultural_area
3,Afghanistan,11,Area,2004.0,1000 Ha,38064.0,Fm,agricultural_area
4,Afghanistan,11,Area,2003.0,1000 Ha,38899.0,Fm,agricultural_area
...,...,...,...,...,...,...,...,...
104779,A,"May include official, semi-official or estimat...",NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation
104780,F,FAO Estimate,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation
104781,Q,Official data reported on FAO Questionnaires f...,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation
104782,Fm,Manual Estimation,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation
104783,I,Country data reported by International Organiz...,NaN,NaN,NaN,NaN,NaN,total_area_equipped_for_irrigation

In [3]:
obj = pd.Series(data['year'])
obj

0         2007.0
1         2006.0
2         2005.0
3         2004.0
4         2003.0
           ...
104779       NaN
104780       NaN
104781       NaN
104782       NaN
104783       NaN
Name: year, Length: 104784, dtype: float64

In [4]:
obj.values, obj.index

(array([2007., 2006., 2005., ...,   nan,   nan,   nan]),
 RangeIndex(start=0, stop=104784, step=1))