In [2]:
import numpy as np
import pandas as pd

## series

***creation***

In [3]:
a_series = pd.Series(np.random.randn(10))
a_series

0    0.596325
1    2.151839
2    1.582312
3    0.548402
4   -0.284133
5   -0.021861
6    0.890558
7    1.729983
8    0.670735
9   -1.167123
dtype: float64

In [4]:
a_series.values, a_series.index

(array([ 0.59632465,  2.15183857,  1.58231173,  0.54840205, -0.2841331 ,
        -0.02186083,  0.89055849,  1.72998337,  0.67073518, -1.16712289]),
 RangeIndex(start=0, stop=10, step=1))

In [9]:
numbers = np.random.randn(5)
name_index = list('ashen')
a_series = pd.Series(numbers, index=name_index)
a_series

a   -1.056176
s    0.727522
h    2.074749
e   -0.990848
n    1.355324
dtype: float64

In [10]:
a_series.index

Index(['a', 's', 'h', 'e', 'n'], dtype='object')

In [14]:
states = {'ohio': 5416, 'texas': 4654, 'oregon': 54585, 'utah': 325745}
states_data = pd.Series(states)

In [12]:
ord_state = ['california', 'ohio', 'oregon', 'texas']
pd.Series(states, ord_state)

california        NaN
ohio           5416.0
oregon        54585.0
texas          4654.0
dtype: float64

In [15]:
states_data.name = 'population'
states_data.index.name = 'state'

states_data

state
ohio        5416
texas       4654
oregon     54585
utah      325745
Name: population, dtype: int64

In [16]:
states_data.index = [12,23,34,45]
states_data

12      5416
23      4654
34     54585
45    325745
Name: population, dtype: int64