In [2]:
import numpy as np
import pandas as pd

## series

***creation***

In [3]:
a_series = pd.Series(np.random.randn(10))
a_series

0    0.596325
1    2.151839
2    1.582312
3    0.548402
4   -0.284133
5   -0.021861
6    0.890558
7    1.729983
8    0.670735
9   -1.167123
dtype: float64

In [4]:
a_series.values, a_series.index

(array([ 0.59632465,  2.15183857,  1.58231173,  0.54840205, -0.2841331 ,
        -0.02186083,  0.89055849,  1.72998337,  0.67073518, -1.16712289]),
 RangeIndex(start=0, stop=10, step=1))

In [9]:
numbers = np.random.randn(5)
name_index = list('ashen')
a_series = pd.Series(numbers, index=name_index)
a_series

a   -1.056176
s    0.727522
h    2.074749
e   -0.990848
n    1.355324
dtype: float64

In [10]:
a_series.index

Index(['a', 's', 'h', 'e', 'n'], dtype='object')

In [14]:
states = {'ohio': 5416, 'texas': 4654, 'oregon': 54585, 'utah': 325745}
states_data = pd.Series(states)

In [12]:
ord_state = ['california', 'ohio', 'oregon', 'texas']
pd.Series(states, ord_state)

california        NaN
ohio           5416.0
oregon        54585.0
texas          4654.0
dtype: float64

In [15]:
states_data.name = 'population'
states_data.index.name = 'state'

states_data

state
ohio        5416
texas       4654
oregon     54585
utah      325745
Name: population, dtype: int64

In [16]:
states_data.index = [12, 23, 34, 45]
states_data

12      5416
23      4654
34     54585
45    325745
Name: population, dtype: int64

## dataframe

***creation***

In [17]:
data = {'state': ['ohio', 'ohio', 'ohio', 'nevada', 'nevada', 'nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

a_dataframe = pd.DataFrame(data)
a_dataframe

    state  year  pop
0    ohio  2000  1.5
1    ohio  2001  1.7
2    ohio  2002  3.6
3  nevada  2001  2.4
4  nevada  2002  2.9
5  nevada  2003  3.2

In [18]:
a_dataframe.head(3)

  state  year  pop
0  ohio  2000  1.5
1  ohio  2001  1.7
2  ohio  2002  3.6

In [19]:
a_dataframe = pd.DataFrame(data, columns=['year', 'state', 'pop'])
a_dataframe

   year   state  pop
0  2000    ohio  1.5
1  2001    ohio  1.7
2  2002    ohio  3.6
3  2001  nevada  2.4
4  2002  nevada  2.9
5  2003  nevada  3.2

In [20]:
a_dataframe = pd.DataFrame(data,
                           columns=['year', 'state', 'pop', 'debt'],
                           index=[111, 112, 113, 121, 122, 123])
a_dataframe

     year   state  pop debt
111  2000    ohio  1.5  NaN
112  2001    ohio  1.7  NaN
113  2002    ohio  3.6  NaN
121  2001  nevada  2.4  NaN
122  2002  nevada  2.9  NaN
123  2003  nevada  3.2  NaN

In [21]:
a_dataframe['debt'] = 6454
a_dataframe

     year   state  pop  debt
111  2000    ohio  1.5  6454
112  2001    ohio  1.7  6454
113  2002    ohio  3.6  6454
121  2001  nevada  2.4  6454
122  2002  nevada  2.9  6454
123  2003  nevada  3.2  6454

In [22]:
a_dataframe['debt'] = np.arange(6.0)
a_dataframe

     year   state  pop  debt
111  2000    ohio  1.5   0.0
112  2001    ohio  1.7   1.0
113  2002    ohio  3.6   2.0
121  2001  nevada  2.4   3.0
122  2002  nevada  2.9   4.0
123  2003  nevada  3.2   5.0

In [25]:
val = pd.Series([-1.2, -1.5, -1.7], index=[111, 121, 123])
a_dataframe['debt'] = val
a_dataframe

     year   state  pop  debt
111  2000    ohio  1.5  -1.2
112  2001    ohio  1.7   NaN
113  2002    ohio  3.6   NaN
121  2001  nevada  2.4  -1.5
122  2002  nevada  2.9   NaN
123  2003  nevada  3.2  -1.7

In [26]:
a_dataframe['eastern'] = a_dataframe.state == 'ohio'
a_dataframe

     year   state  pop  debt  eastern
111  2000    ohio  1.5  -1.2     True
112  2001    ohio  1.7   NaN     True
113  2002    ohio  3.6   NaN     True
121  2001  nevada  2.4  -1.5    False
122  2002  nevada  2.9   NaN    False
123  2003  nevada  3.2  -1.7    False

In [27]:
del a_dataframe['eastern']

a_dataframe.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [29]:
pop = {'nevada': {2001: 2.4, 2002: 2.9},
       'ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

a_dataframe = pd.DataFrame(pop)
a_dataframe

      nevada  ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [33]:
a_dataframe = pd.DataFrame(pop,index=[2000,2001,2002])
a_dataframe

      nevada  ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [34]:
a_dataframe.T

        2000  2001  2002
nevada   NaN   2.4   2.9
ohio     1.5   1.7   3.6

In [35]:
a_dataframe.index.name = 'year'
a_dataframe.columns.name = 'state'

a_dataframe

state  nevada  ohio
year
2000      NaN   1.5
2001      2.4   1.7
2002      2.9   3.6

In [36]:
a_dataframe.values

array([[nan, 1.5],
       [2.4, 1.7],
       [2.9, 3.6]])