In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('../data/p1_train.csv')
train.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,NaN,32000,32000,32000.0,36 months,10.90,1046.13,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,11500,11500,11500.0,36 months,15.80,403.18,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,10000,10000,10000.0,36 months,6.49,306.45,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,28000,28000,28000.0,36 months,7.69,873.42,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,28000,28000,28000.0,60 months,17.97,710.56,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
pd.read_csv('../data/p1_train.csv',header=None).head(5)

c:\users\ashen\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (0,1,2,3,4,6,7,13,18,24,25,27,28,29,30,31,32,33,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,126,127,131,132,134,135,136,142,143,144) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,135,136,137,138,139,140,141,142,143,144
0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
1,0,NaN,32000,32000,32000.0,36 months,10.9,1046.13,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,1,NaN,11500,11500,11500.0,36 months,15.8,403.18,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,2,NaN,10000,10000,10000.0,36 months,6.49,306.45,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,3,NaN,28000,28000,28000.0,36 months,7.69,873.42,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
pd.read_csv('../data/p1_test.csv',header=1).head(5)

,0,Unnamed: 1,20000,20000.1,20000.0,60 months,482.02,C,C5,Director Of Finance and Operations,...,Unnamed: 134,Unnamed: 135,Cash,N.1,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143
0,1,NaN,7800,7800,7800.0,36 months,240.81,A,A2,Teacher,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,5000,5000,5000.0,36 months,178.24,D,D3,truck driver,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,22800,22800,22800.0,36 months,812.77,D,D3,yard supervisor,...,NaN,NaN,Cash,Y,Jan-2018,COMPLETE,Oct-2017,3628.0,45.0,1.0
3,4,NaN,25000,25000,24950.0,60 months,585.61,C,C1,Associate Professor,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,40000,40000,40000.0,60 months,902.37,C,C1,Finance manager,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN