In [1]:
import pandas as pd

In [2]:
data_path = '../data/p1_train.csv'

In [3]:
# import data
train = pd.read_csv(data_path,index_col='id')
train

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
id,,,,,,,,,,,,,,,,,,,,,
0,NaN,32000,32000,32000.0,36 months,10.90,1046.13,B,B4,plasma\brake operator,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,11500,11500,11500.0,36 months,15.80,403.18,C,C3,CableOne,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,10000,10000,10000.0,36 months,6.49,306.45,A,A2,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,28000,28000,28000.0,36 months,7.69,873.42,A,A4,Human Resources Director,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,28000,28000,28000.0,60 months,17.97,710.56,D,D1,sales agent,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904262,NaN,30000,30000,30000.0,60 months,16.55,738.34,D,D2,Teacher,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904263,NaN,15000,15000,15000.0,36 months,12.12,499.08,B,B3,WDAC Radio Compnay,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904264,NaN,8725,8725,8725.0,36 months,17.27,312.25,D,D1,Clovis Unified School District,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904265,NaN,15000,15000,15000.0,36 months,17.09,535.47,D,D1,Educator,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904266,NaN,15000,15000,15000.0,60 months,17.09,373.52,D,D1,officer,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# dot notation
train.emp_title

id
0                  plasma\brake operator
1                               CableOne
2                                    NaN
3               Human Resources Director
4                            sales agent
                       ...
904262                           Teacher
904263                WDAC Radio Compnay
904264    Clovis Unified School District
904265                          Educator
904266                          officer
Name: emp_title, Length: 904267, dtype: object

In [5]:
# select multiple columns and rows
train.loc[10]

member_id                       NaN
loan_amnt                     35000
funded_amnt                   35000
funded_amnt_inv             35000.0
term                      36 months
                            ...
settlement_status               NaN
settlement_date                 NaN
settlement_amount               NaN
settlement_percentage           NaN
settlement_term                 NaN
Name: 10, Length: 144, dtype: object

In [11]:
train.loc[:,'term']

id
0          36 months
1          36 months
2          36 months
3          36 months
4          60 months
             ...
904262     60 months
904263     36 months
904264     36 months
904265     36 months
904266     60 months
Name: term, Length: 904267, dtype: object

In [12]:
train.loc[10,'term']

' 36 months'