In [1]:
import pandas as pd

In [2]:
data_path = '../data/p1_train.csv'

In [3]:
# import data
train = pd.read_csv(data_path,index_col='id')
train

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
id,,,,,,,,,,,,,,,,,,,,,
0,NaN,32000,32000,32000.0,36 months,10.90,1046.13,B,B4,plasma\brake operator,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,11500,11500,11500.0,36 months,15.80,403.18,C,C3,CableOne,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,10000,10000,10000.0,36 months,6.49,306.45,A,A2,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,28000,28000,28000.0,36 months,7.69,873.42,A,A4,Human Resources Director,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,28000,28000,28000.0,60 months,17.97,710.56,D,D1,sales agent,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904262,NaN,30000,30000,30000.0,60 months,16.55,738.34,D,D2,Teacher,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904263,NaN,15000,15000,15000.0,36 months,12.12,499.08,B,B3,WDAC Radio Compnay,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904264,NaN,8725,8725,8725.0,36 months,17.27,312.25,D,D1,Clovis Unified School District,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904265,NaN,15000,15000,15000.0,36 months,17.09,535.47,D,D1,Educator,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904266,NaN,15000,15000,15000.0,60 months,17.09,373.52,D,D1,officer,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# dot notation
train.emp_title

id
0                  plasma\brake operator
1                               CableOne
2                                    NaN
3               Human Resources Director
4                            sales agent
                       ...
904262                           Teacher
904263                WDAC Radio Compnay
904264    Clovis Unified School District
904265                          Educator
904266                          officer
Name: emp_title, Length: 904267, dtype: object

In [5]:
# select multiple columns and rows
train.loc[10]

member_id                       NaN
loan_amnt                     35000
funded_amnt                   35000
funded_amnt_inv             35000.0
term                      36 months
                            ...
settlement_status               NaN
settlement_date                 NaN
settlement_amount               NaN
settlement_percentage           NaN
settlement_term                 NaN
Name: 10, Length: 144, dtype: object

In [6]:
train.loc[:,'term']

id
0          36 months
1          36 months
2          36 months
3          36 months
4          60 months
             ...
904262     60 months
904263     36 months
904264     36 months
904265     36 months
904266     60 months
Name: term, Length: 904267, dtype: object

In [7]:
train.loc[10,'term']

' 36 months'

In [8]:
# single column and multiple rows
train.loc[:,'funded_amnt']

id
0         32000
1         11500
2         10000
3         28000
4         28000
          ...
904262    30000
904263    15000
904264     8725
904265    15000
904266    15000
Name: funded_amnt, Length: 904267, dtype: int64

In [10]:
train.loc[10:20,'funded_amnt']

id
10    35000
11     8000
12     3000
13    10000
14    12000
15    24000
16    12000
17    25600
18     6000
19    30000
20    12000
Name: funded_amnt, dtype: int64

In [11]:
# single row multiple columns
train.loc[10,:]

member_id                       NaN
loan_amnt                     35000
funded_amnt                   35000
funded_amnt_inv             35000.0
term                      36 months
                            ...
settlement_status               NaN
settlement_date                 NaN
settlement_amount               NaN
settlement_percentage           NaN
settlement_term                 NaN
Name: 10, Length: 144, dtype: object

In [12]:
train.loc[10,'settlement_status':'settlement_term']

settlement_status        NaN
settlement_date          NaN
settlement_amount        NaN
settlement_percentage    NaN
settlement_term          NaN
Name: 10, dtype: object

In [15]:
# sort values
train[['loan_amnt','term','int_rate']].sort_values(by=['loan_amnt'],ascending=False)

        loan_amnt        term  int_rate
id
619443      40000   60 months     20.39
831239      40000   36 months      5.32
106715      40000   60 months     14.08
279092      40000   36 months      7.07
339481      40000   60 months     23.99
...           ...         ...       ...
749333        500   36 months     11.41
333485        500   36 months      8.38
460674        500   36 months     12.49
344980        500   36 months      8.00
510971        500   36 months      9.01

[904267 rows x 3 columns]

In [19]:
# filter by filter method
train.filter(items=['grade'])

       grade
id
0          B
1          C
2          A
3          A
4          D
...      ...
904262     D
904263     B
904264     D
904265     D
904266     D

[904267 rows x 1 columns]

In [20]:
train.filter(items=['grade','sub_grade'])

       grade sub_grade
id
0          B        B4
1          C        C3
2          A        A2
3          A        A4
4          D        D1
...      ...       ...
904262     D        D2
904263     B        B3
904264     D        D1
904265     D        D1
904266     D        D1

[904267 rows x 2 columns]

In [22]:
# arithmetic filtering
train[train['loan_amnt'] > 10000]

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
id,,,,,,,,,,,,,,,,,,,,,
0,NaN,32000,32000,32000.0,36 months,10.90,1046.13,B,B4,plasma\brake operator,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,11500,11500,11500.0,36 months,15.80,403.18,C,C3,CableOne,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,28000,28000,28000.0,36 months,7.69,873.42,A,A4,Human Resources Director,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,28000,28000,28000.0,60 months,17.97,710.56,D,D1,sales agent,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,11850,11850,11850.0,36 months,25.81,476.25,E,E4,Legal Secretary,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904260,NaN,18675,18675,18675.0,36 months,12.99,629.15,C,C2,gangboss,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904262,NaN,30000,30000,30000.0,60 months,16.55,738.34,D,D2,Teacher,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904263,NaN,15000,15000,15000.0,36 months,12.12,499.08,B,B3,WDAC Radio Compnay,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904265,NaN,15000,15000,15000.0,36 months,17.09,535.47,D,D1,Educator,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904266,NaN,15000,15000,15000.0,60 months,17.09,373.52,D,D1,officer,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# multiple filtering
train[(train['loan_amnt']>10000) & (train['loan_amnt']<20000)]

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
id,,,,,,,,,,,,,,,,,,,,,
1,NaN,11500,11500,11500.0,36 months,15.80,403.18,C,C3,CableOne,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,11850,11850,11850.0,36 months,25.81,476.25,E,E4,Legal Secretary,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,12000,12000,12000.0,36 months,10.99,392.81,B,B4,Special Services Supervisor,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,12000,12000,12000.0,36 months,13.99,410.08,C,C3,Cadet,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,12000,12000,12000.0,36 months,23.87,469.98,E,E2,Health services scheduler,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904259,NaN,13600,13600,13600.0,36 months,11.67,449.58,B,B4,Operating Room Supervisor,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904260,NaN,18675,18675,18675.0,36 months,12.99,629.15,C,C2,gangboss,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904263,NaN,15000,15000,15000.0,36 months,12.12,499.08,B,B3,WDAC Radio Compnay,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904265,NaN,15000,15000,15000.0,36 months,17.09,535.47,D,D1,Educator,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904266,NaN,15000,15000,15000.0,60 months,17.09,373.52,D,D1,officer,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
train[(train['loan_amnt']>10000 | (train['funded_amnt']>5000))]

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
id,,,,,,,,,,,,,,,,,,,,,
0,NaN,32000,32000,32000.0,36 months,10.90,1046.13,B,B4,plasma\brake operator,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,11500,11500,11500.0,36 months,15.80,403.18,C,C3,CableOne,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,10000,10000,10000.0,36 months,6.49,306.45,A,A2,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,28000,28000,28000.0,36 months,7.69,873.42,A,A4,Human Resources Director,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,28000,28000,28000.0,60 months,17.97,710.56,D,D1,sales agent,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904262,NaN,30000,30000,30000.0,60 months,16.55,738.34,D,D2,Teacher,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904263,NaN,15000,15000,15000.0,36 months,12.12,499.08,B,B3,WDAC Radio Compnay,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904264,NaN,8725,8725,8725.0,36 months,17.27,312.25,D,D1,Clovis Unified School District,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904265,NaN,15000,15000,15000.0,36 months,17.09,535.47,D,D1,Educator,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904266,NaN,15000,15000,15000.0,60 months,17.09,373.52,D,D1,officer,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
train[(train['grade'] == 'A') & (train['sub_grade'] == 'A1')]

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
id,,,,,,,,,,,,,,,,,,,,,
30,NaN,28000,28000,28000.0,36 months,6.11,853.22,A,A1,Vice President,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,12000,12000,12000.0,36 months,5.32,361.38,A,A1,Registered Nurse,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,8800,8800,8800.0,36 months,5.32,265.02,A,A1,Operating Partner,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
137,NaN,20850,20850,20850.0,36 months,5.32,627.90,A,A1,Tech Manager,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
225,NaN,1500,1500,1500.0,36 months,6.03,45.66,A,A1,constellation us,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904173,NaN,15000,15000,15000.0,36 months,5.32,451.73,A,A1,Vp,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904219,NaN,3000,3000,3000.0,36 months,5.31,90.34,A,A1,NaN,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
904248,NaN,30000,30000,30000.0,36 months,5.32,903.45,A,A1,Senior Executive Oncology Specialist,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904249,NaN,25000,25000,25000.0,36 months,5.31,752.76,A,A1,Communication specialist,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904250,NaN,19200,19200,19200.0,36 months,5.32,578.21,A,A1,Training Manager,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN