In [1]:
import pandas as pd
train = pd.read_csv('../data/p1_train.csv')

In [2]:
train.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,NaN,32000,32000,32000.0,36 months,10.90,1046.13,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,11500,11500,11500.0,36 months,15.80,403.18,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,10000,10000,10000.0,36 months,6.49,306.45,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,28000,28000,28000.0,36 months,7.69,873.42,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,28000,28000,28000.0,60 months,17.97,710.56,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# inplace
# make changes directly to dataframe
train.drop('member_id',axis=True,inplace=True)
train

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,32000,32000,32000.0,36 months,10.90,1046.13,B,B4,plasma\brake operator,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,11500,11500,11500.0,36 months,15.80,403.18,C,C3,CableOne,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,10000,10000,10000.0,36 months,6.49,306.45,A,A2,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,28000,28000,28000.0,36 months,7.69,873.42,A,A4,Human Resources Director,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,28000,28000,28000.0,60 months,17.97,710.56,D,D1,sales agent,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904262,904262,30000,30000,30000.0,60 months,16.55,738.34,D,D2,Teacher,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904263,904263,15000,15000,15000.0,36 months,12.12,499.08,B,B3,WDAC Radio Compnay,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904264,904264,8725,8725,8725.0,36 months,17.27,312.25,D,D1,Clovis Unified School District,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904265,904265,15000,15000,15000.0,36 months,17.09,535.47,D,D1,Educator,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904266,904266,15000,15000,15000.0,60 months,17.09,373.52,D,D1,officer,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
train.set_index('id',inplace=True)
train

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
id,,,,,,,,,,,,,,,,,,,,,
0,32000,32000,32000.0,36 months,10.90,1046.13,B,B4,plasma\brake operator,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,11500,11500,11500.0,36 months,15.80,403.18,C,C3,CableOne,6 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,10000,10000,10000.0,36 months,6.49,306.45,A,A2,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,28000,28000,28000.0,36 months,7.69,873.42,A,A4,Human Resources Director,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,28000,28000,28000.0,60 months,17.97,710.56,D,D1,sales agent,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904262,30000,30000,30000.0,60 months,16.55,738.34,D,D2,Teacher,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904263,15000,15000,15000.0,36 months,12.12,499.08,B,B3,WDAC Radio Compnay,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904264,8725,8725,8725.0,36 months,17.27,312.25,D,D1,Clovis Unified School District,7 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904265,15000,15000,15000.0,36 months,17.09,535.47,D,D1,Educator,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904266,15000,15000,15000.0,60 months,17.09,373.52,D,D1,officer,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
train.rename(columns={'term':'terms'},inplace=True)
train

,loan_amnt,funded_amnt,funded_amnt_inv,terms,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
id,,,,,,,,,,,,,,,,,,,,,
0,32000,32000,32000.0,36 months,10.90,1046.13,B,B4,plasma\brake operator,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,11500,11500,11500.0,36 months,15.80,403.18,C,C3,CableOne,6 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,10000,10000,10000.0,36 months,6.49,306.45,A,A2,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,28000,28000,28000.0,36 months,7.69,873.42,A,A4,Human Resources Director,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,28000,28000,28000.0,60 months,17.97,710.56,D,D1,sales agent,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904262,30000,30000,30000.0,60 months,16.55,738.34,D,D2,Teacher,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904263,15000,15000,15000.0,36 months,12.12,499.08,B,B3,WDAC Radio Compnay,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904264,8725,8725,8725.0,36 months,17.27,312.25,D,D1,Clovis Unified School District,7 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904265,15000,15000,15000.0,36 months,17.09,535.47,D,D1,Educator,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904266,15000,15000,15000.0,60 months,17.09,373.52,D,D1,officer,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# group by
train.groupby(by=['grade','sub_grade'])[['loan_amnt']].sum()

                 loan_amnt
grade sub_grade
A     A1         533121725
      A2         393436350
      A3         416215800
      A4         565730025
      A5         618176225
B     B1         714055625
      B2         732633475
      B3         747309325
      B4         792828625
      B5         779923200
C     C1         845329425
      C2         766241775
      C3         790677650
      C4         788041375
      C5         723423175
D     D1         497457150
      D2         453039750
      D3         407178525
      D4         365771000
      D5         319298800
E     E1         224115675
      E2         204715225
      E3         188811100
      E4         164329850
      E5         164410725
F     F1         102788850
      F2          71384800
      F3          57486825
      F4          45355700
      F5          41723025
G     G1          34519375
      G2          21307025
      G3          17762550
      G4          14431450
      G5          13284750

In [7]:
train.groupby(by=['grade','sub_grade'])[['loan_amnt']].mean()

                    loan_amnt
grade sub_grade
A     A1         15286.644444
      A2         14213.740968
      A3         14170.978176
      A4         14866.506149
      A5         14395.608612
B     B1         14230.452091
      B2         14488.371369
      B3         14182.595555
      B4         14167.520684
      B5         13908.572448
C     C1         14505.867439
      C2         14578.420377
      C3         15224.076748
      C4         15588.419579
      C5         15499.821631
D     D1         15261.294331
      D2         15367.177165
      D3         15657.099323
      D4         16079.259715
      D5         16595.571726
E     E1         16687.689873
      E2         17100.929329
      E3         17482.509259
      E4         18149.972388
      E5         18275.980992
F     F1         18943.761519
      F2         19056.273358
      F3         19060.618369
      F4         19001.131127
      F5         20204.854722
G     G1         20744.816707
      G2         19913.107477
      G3         21045.675355
      G4         20884.876990
      G5         20628.493789

In [8]:
for i in train.groupby(by=train.dtypes,axis=1):
    print(i)

(dtype('int64'),         loan_amnt  funded_amnt  revol_bal  policy_code
id
0           32000        32000       5055            1
1           11500        11500      11134            1
2           10000        10000       5802            1
3           28000        28000      37040            1
4           28000        28000      21817            1
...           ...          ...        ...          ...
904262      30000        30000      31817            1
904263      15000        15000       8055            1
904264       8725         8725       7399            1
904265      15000        15000      52238            1
904266      15000        15000      16390            1

[904267 rows x 4 columns])
(dtype('float64'),         funded_amnt_inv  int_rate  installment  annual_inc  url    dti  \
id
0               32000.0     10.90      1046.13     54000.0  NaN  14.80
1               11500.0     15.80       403.18     48000.0  NaN  10.48
2               10000.0      6.49       306.45     37000.0  NaN   7.64
3               28000.0      7.69       873.42    110000.0  NaN  10.05
4               28000.0     17.97       710.56    125000.0  NaN  18.19
...                 ...       ...          ...         ...  ...    ...
904262          30000.0     16.55       738.34     67000.0  NaN  24.22
904263          15000.0     12.12       499.08     55806.0  NaN  15.37
904264           8725.0     17.27       312.25     18314.0  NaN  11.99
904265          15000.0     17.09       535.47     60000.0  NaN  51.04
904266          15000.0     17.09       373.52     65250.0  NaN  19.55

        delinq_2yrs  inq_last_6mths  mths_since_last_delinq  \
id
0               0.0             0.0                     NaN
1               0.0             0.0                    44.0
2               0.0             1.0                     NaN
3               0.0             0.0                     NaN
4               1.0             0.0                    14.0
...             ...             ...                     ...
904262          0.0             0.0                    44.0
904263          0.0             0.0                     NaN
904264          1.0             2.0                    22.0
904265          0.0             0.0                     NaN
904266          0.0             2.0                     NaN

        mths_since_last_record  ...  deferral_term  hardship_amount  \
id                              ...
0                          NaN  ...            NaN              NaN
1                          NaN  ...            NaN              NaN
2                          NaN  ...            NaN              NaN
3                          NaN  ...            NaN              NaN
4                         79.0  ...            NaN              NaN
...                        ...  ...            ...              ...
904262                     NaN  ...            NaN              NaN
904263                    84.0  ...            NaN              NaN
904264                     NaN  ...            NaN              NaN
904265                     NaN  ...            NaN              NaN
904266                    54.0  ...            NaN              NaN

        hardship_length  hardship_dpd  \
id
0                   NaN           NaN
1                   NaN           NaN
2                   NaN           NaN
3                   NaN           NaN
4                   NaN           NaN
...                 ...           ...
904262              NaN           NaN
904263              NaN           NaN
904264              NaN           NaN
904265              NaN           NaN
904266              NaN           NaN

        orig_projected_additional_accrued_interest  \
id
0                                              NaN
1                                              NaN
2                                              NaN
3                                              NaN
4                                              NaN
...                                            ...
904262                                         NaN
904263                                         NaN
904264                                         NaN
904265                                         NaN
904266                                         NaN

        hardship_payoff_balance_amount  hardship_last_payment_amount  \
id
0                                  NaN                           NaN
1                                  NaN                           NaN
2                                  NaN                           NaN
3                                  NaN                           NaN
4                                  NaN                           NaN
...                                ...                           ...
904262                             NaN                           NaN
904263                             NaN                           NaN
904264                             NaN                           NaN
904265                             NaN                           NaN
904266                             NaN                           NaN

        settlement_amount  settlement_percentage  settlement_term
id
0                     NaN                    NaN              NaN
1                     NaN                    NaN              NaN
2                     NaN                    NaN              NaN
3                     NaN                    NaN              NaN
4                     NaN                    NaN              NaN
...                   ...                    ...              ...
904262                NaN                    NaN              NaN
904263                NaN                    NaN              NaN
904264                NaN                    NaN              NaN
904265                NaN                    NaN              NaN
904266                NaN                    NaN              NaN

[904267 rows x 103 columns])
(dtype('O'),              terms grade sub_grade                       emp_title emp_length  \
id
0        36 months     B        B4           plasma\brake operator    2 years
1        36 months     C        C3                        CableOne    6 years
2        36 months     A        A2                             NaN        NaN
3        36 months     A        A4        Human Resources Director    3 years
4        60 months     D        D1                     sales agent    2 years
...            ...   ...       ...                             ...        ...
904262   60 months     D        D2                         Teacher  10+ years
904263   36 months     B        B3              WDAC Radio Compnay  10+ years
904264   36 months     D        D1  Clovis Unified School District    7 years
904265   36 months     D        D1                        Educator    2 years
904266   60 months     D        D1                        officer   10+ years

       home_ownership verification_status   issue_d  loan_status pymnt_plan  \
id
0            MORTGAGE        Not Verified  Mar-2018      Current          n
1            MORTGAGE        Not Verified  Jun-2013   Fully Paid          n
2                 OWN        Not Verified  Mar-2016  Charged Off          n
3                RENT     Source Verified  Oct-2014   Fully Paid          n
4                RENT        Not Verified  Aug-2018      Current          n
...               ...                 ...       ...          ...        ...
904262       MORTGAGE            Verified  Jul-2015   Fully Paid          n
904263       MORTGAGE            Verified  Jun-2013   Fully Paid          n
904264            OWN     Source Verified  Apr-2012   Fully Paid          n
904265       MORTGAGE     Source Verified  Oct-2017      Current          n
904266       MORTGAGE     Source Verified  Sep-2017      Current          n

        ... hardship_status hardship_start_date hardship_end_date  \
id      ...
0       ...             NaN                 NaN               NaN
1       ...             NaN                 NaN               NaN
2       ...             NaN                 NaN               NaN
3       ...             NaN                 NaN               NaN
4       ...             NaN                 NaN               NaN
...     ...             ...                 ...               ...
904262  ...             NaN                 NaN               NaN
904263  ...             NaN                 NaN               NaN
904264  ...             NaN                 NaN               NaN
904265  ...             NaN                 NaN               NaN
904266  ...             NaN                 NaN               NaN

       payment_plan_start_date hardship_loan_status disbursement_method  \
id
0                          NaN                  NaN                Cash
1                          NaN                  NaN                Cash
2                          NaN                  NaN                Cash
3                          NaN                  NaN                Cash
4                          NaN                  NaN                Cash
...                        ...                  ...                 ...
904262                     NaN                  NaN                Cash
904263                     NaN                  NaN                Cash
904264                     NaN                  NaN                Cash
904265                     NaN                  NaN                Cash
904266                     NaN                  NaN                Cash

       debt_settlement_flag debt_settlement_flag_date settlement_status  \
id
0                         N                       NaN               NaN
1                         N                       NaN               NaN
2                         N                       NaN               NaN
3                         N                       NaN               NaN
4                         N                       NaN               NaN
...                     ...                       ...               ...
904262                    N                       NaN               NaN
904263                    N                       NaN               NaN
904264                    N                       NaN               NaN
904265                    N                       NaN               NaN
904266                    N                       NaN               NaN

       settlement_date
id
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
...                ...
904262             NaN
904263             NaN
904264             NaN
904265             NaN
904266             NaN

[904267 rows x 36 columns])

### missing values
can treat missing values two ways, either drop or impute

In [12]:
# missing values by column
pd.options.display.max_rows = 143
na_col = pd.DataFrame(train.isna().sum())
na_col

                                                 0
loan_amnt                                        0
funded_amnt                                      0
funded_amnt_inv                                  0
terms                                            0
int_rate                                         0
installment                                      0
grade                                            0
sub_grade                                        0
emp_title                                    66777
emp_length                                   58899
home_ownership                                   0
annual_inc                                       4
verification_status                              0
issue_d                                          0
loan_status                                      0
pymnt_plan                                       0
url                                         904267
desc                                        854186
purpose                                          0
title                                         9299
zip_code                                         0
addr_state                                       0
dti                                            742
delinq_2yrs                                     14
earliest_cr_line                                14
inq_last_6mths                                  14
mths_since_last_delinq                      462950
mths_since_last_record                      760034
open_acc                                        14
pub_rec                                         14
revol_bal                                        0
revol_util                                     731
total_acc                                       14
initial_list_status                              0
out_prncp                                        0
out_prncp_inv                                    0
total_pymnt                                      0
total_pymnt_inv                                  0
total_rec_prncp                                  0
total_rec_int                                    0
total_rec_late_fee                               0
recoveries                                       0
collection_recovery_fee                          0
last_pymnt_d                                   994
last_pymnt_amnt                                  0
next_pymnt_d                                522309
last_credit_pull_d                              26
collections_12_mths_ex_med                      63
mths_since_last_major_derog                 672001
policy_code                                      0
application_type                                 0
annual_inc_joint                            855912
dti_joint                                   855913
verification_status_joint                   857847
acc_now_delinq                                  14
tot_coll_amt                                 28071
tot_cur_bal                                  28071
open_acc_6m                                 347049
open_act_il                                 347049
open_il_12m                                 347049
open_il_24m                                 347049
mths_since_rcnt_il                          364325
total_bal_il                                347049
il_util                                     428269
open_rv_12m                                 347049
open_rv_24m                                 347049
max_bal_bc                                  347049
all_util                                    347146
total_rev_hi_lim                             28071
inq_fi                                      347049
total_cu_tl                                 347049
inq_last_12m                                347049
acc_open_past_24mths                         19975
avg_cur_bal                                  28102
bc_open_to_buy                               29888
bc_util                                      30314
chargeoff_within_12_mths                        63
delinq_amnt                                     14
mo_sin_old_il_acct                           55275
mo_sin_old_rev_tl_op                         28072
mo_sin_rcnt_rev_tl_op                        28072
mo_sin_rcnt_tl                               28071
mort_acc                                     19975
mths_since_recent_bc                         29245
mths_since_recent_bc_dlq                    696473
mths_since_recent_inq                       118008
mths_since_recent_revol_delinq              608172
num_accts_ever_120_pd                        28071
num_actv_bc_tl                               28071
num_actv_rev_tl                              28071
num_bc_sats                                  23395
num_bc_tl                                    28071
num_il_tl                                    28071
num_op_rev_tl                                28071
num_rev_accts                                28072
num_rev_tl_bal_gt_0                          28071
num_sats                                     23395
num_tl_120dpd_2m                             61001
num_tl_30dpd                                 28071
num_tl_90g_dpd_24m                           28071
num_tl_op_past_12m                           28071
pct_tl_nvr_dlq                               28128
percent_bc_gt_75                             30078
pub_rec_bankruptcies                           535
tax_liens                                       47
tot_hi_cred_lim                              28071
total_bal_ex_mort                            19975
total_bc_limit                               19975
total_il_high_credit_limit                   28071
revol_bal_joint                             861082
sec_app_earliest_cr_line                    861081
sec_app_inq_last_6mths                      861081
sec_app_mort_acc                            861081
sec_app_open_acc                            861081
sec_app_revol_util                          861813
sec_app_open_act_il                         861081
sec_app_num_rev_accts                       861081
sec_app_chargeoff_within_12_mths            861081
sec_app_collections_12_mths_ex_med          861081
sec_app_mths_since_last_major_derog         890026
hardship_flag                                    0
hardship_type                               900051
hardship_reason                             900051
hardship_status                             900051
deferral_term                               900051
hardship_amount                             900051
hardship_start_date                         900051
hardship_end_date                           900051
payment_plan_start_date                     900051
hardship_length                             900051
hardship_dpd                                900051
hardship_loan_status                        900051
orig_projected_additional_accrued_interest  900923
hardship_payoff_balance_amount              900051
hardship_last_payment_amount                900051
disbursement_method                              0
debt_settlement_flag                             0
debt_settlement_flag_date                   890960
settlement_status                           890960
settlement_date                             890960
settlement_amount                           890960
settlement_percentage                       890960
settlement_term                             890960

In [15]:
na_row = pd.DataFrame(train.isna().sum(axis=1))
na_row

         0
id
0       41
1       53
2       47
3       57
4       39
...     ..
904262  53
904263  55
904264  79
904265  28
904266  40

[904267 rows x 1 columns]

In [ ]:
# dropping missing values
# standard is 25-30% missing values approved and can impute
# so, more than 70% missing rows and columns can drop
# columns drop