In [1]:
import pandas as pd
train = pd.read_csv('../data/p1_train.csv')

In [2]:
train.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,NaN,32000,32000,32000.0,36 months,10.90,1046.13,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,11500,11500,11500.0,36 months,15.80,403.18,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,10000,10000,10000.0,36 months,6.49,306.45,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,28000,28000,28000.0,36 months,7.69,873.42,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,28000,28000,28000.0,60 months,17.97,710.56,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# inplace
# make changes directly to dataframe
train.drop('member_id',axis=True,inplace=True)
train

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,32000,32000,32000.0,36 months,10.90,1046.13,B,B4,plasma\brake operator,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,11500,11500,11500.0,36 months,15.80,403.18,C,C3,CableOne,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,10000,10000,10000.0,36 months,6.49,306.45,A,A2,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,28000,28000,28000.0,36 months,7.69,873.42,A,A4,Human Resources Director,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,28000,28000,28000.0,60 months,17.97,710.56,D,D1,sales agent,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904262,904262,30000,30000,30000.0,60 months,16.55,738.34,D,D2,Teacher,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904263,904263,15000,15000,15000.0,36 months,12.12,499.08,B,B3,WDAC Radio Compnay,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904264,904264,8725,8725,8725.0,36 months,17.27,312.25,D,D1,Clovis Unified School District,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904265,904265,15000,15000,15000.0,36 months,17.09,535.47,D,D1,Educator,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904266,904266,15000,15000,15000.0,60 months,17.09,373.52,D,D1,officer,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
train.set_index('id',inplace=True)
train

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
id,,,,,,,,,,,,,,,,,,,,,
0,32000,32000,32000.0,36 months,10.90,1046.13,B,B4,plasma\brake operator,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,11500,11500,11500.0,36 months,15.80,403.18,C,C3,CableOne,6 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,10000,10000,10000.0,36 months,6.49,306.45,A,A2,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,28000,28000,28000.0,36 months,7.69,873.42,A,A4,Human Resources Director,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,28000,28000,28000.0,60 months,17.97,710.56,D,D1,sales agent,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904262,30000,30000,30000.0,60 months,16.55,738.34,D,D2,Teacher,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904263,15000,15000,15000.0,36 months,12.12,499.08,B,B3,WDAC Radio Compnay,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904264,8725,8725,8725.0,36 months,17.27,312.25,D,D1,Clovis Unified School District,7 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904265,15000,15000,15000.0,36 months,17.09,535.47,D,D1,Educator,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904266,15000,15000,15000.0,60 months,17.09,373.52,D,D1,officer,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
train.rename(columns={'term':'terms'},inplace=True)
train

,loan_amnt,funded_amnt,funded_amnt_inv,terms,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
id,,,,,,,,,,,,,,,,,,,,,
0,32000,32000,32000.0,36 months,10.90,1046.13,B,B4,plasma\brake operator,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,11500,11500,11500.0,36 months,15.80,403.18,C,C3,CableOne,6 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,10000,10000,10000.0,36 months,6.49,306.45,A,A2,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,28000,28000,28000.0,36 months,7.69,873.42,A,A4,Human Resources Director,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,28000,28000,28000.0,60 months,17.97,710.56,D,D1,sales agent,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904262,30000,30000,30000.0,60 months,16.55,738.34,D,D2,Teacher,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904263,15000,15000,15000.0,36 months,12.12,499.08,B,B3,WDAC Radio Compnay,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904264,8725,8725,8725.0,36 months,17.27,312.25,D,D1,Clovis Unified School District,7 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904265,15000,15000,15000.0,36 months,17.09,535.47,D,D1,Educator,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
904266,15000,15000,15000.0,60 months,17.09,373.52,D,D1,officer,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN